module.exports = {
    aedes : {
        mq: 'mqemitter',              
        concurrency: 100,
        persistence: aedes-persistence,
        queueLimit: 42,
        maxClientsIdLength: 23,
        heartbeatInterval: 60000,
        id: uuidv4(),
        connectTimeout; 30000,
        username: 'ukuli',
        password: 'ukuli'
    },
};


