module.exports = {
    mqtt : {
        clientId: 'ukuliSimulator',              
        hostname: '127.0.0.1',
        port: 1883,
        userName: 'ukuli',
        password: 'ukuli',
    },
    couch: {
        user: 'ukuli',
        password: 'ukuli',
        host: '127.0.0.1',
        port: 5984,
        database: 'tietomeri',
    }
    api: {
        user: 'ukuli',
        password: 'ukuli',
    }
    redis: {
	ip: '127.0.0.1',
	port: 6379,
	password: 'ukuli',
	db: 0,
}
};
